<form autocomplete="off">
    <p class="notes">{{ localize "N5E.ChakraDiceConfigHint" }}</p>
    {{#each classes}}
        <div class="form-group">
            <label>{{this.name}} ({{this.diceDenom}})</label>
            <div class="form-fields">
                <button class="decrement" type="button">-</button>
                <input title="{{ localize 'N5E.ChakraDiceRemaining' }}" class="current" name="{{this.classItemId}}" type="number" value="{{this.currentChakraDice}}" />
                <span class="sep">/</span>
                <input title="{{ localize 'N5E.ChakraDiceMax' }}" class="max" type="number" value="{{this.maxChakraDice}}" disabled />
                <button class="increment" type="button">+</button>

                <button class="roll-hd" data-hd-denom="{{this.diceDenom}}" {{#unless this.canRoll}}disabled{{/unless}}>
                    <i class="fas fa-dice-d20"></i> {{ localize "N5E.Roll" }}
                </button>
            </div>
        </div>
    {{/each}}
    <div class="dialog-buttons">
        <button type="reset" name="reset"><i class="fas fa-redo"></i> {{ localize "SETTINGS.5eUndoChanges" }}</button>
        <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "SETTINGS.Save"}}</button>
    </div>
</form>
